@model ProyectoVinos.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<br>
<br>
<br>

<div class="container-fluid">

    <h1>Detalle de pedido</h1>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaEntrega)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrecioTotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="MisPedidos">Back to List</a>
    </div>
</div>
