@model IEnumerable<ProyectoVinos.Models.Vino>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<br>

<h1>Listado de Vinos</h1>

<p>
    <a asp-action="Create">Crear un nuevo Vino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenVino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioBase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagenVino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVino">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVino">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVino">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
